# --- for all ---
.DS_Store
Thumbs.db
*.log
*.env
.env
*.sqlite
*.sqlite3
*.db

# --- Python / FastAPI ---
backend/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/.mypy_cache/
backend/.venv/
backend/venv/
backend/.coverage
backend/coverage.xml

# lok. SQLite baze 
backend/**/instance/
backend/**/migrations/__pycache__/

# --- Node / React ---
frontend/node_modules/
frontend/.cache/
frontend/.eslintcache
frontend/build/
frontend/dist/
frontend/coverage/
